.App {
  width: 90%;
  margin: auto;
}

.badge {
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}
.badge:hover {
  transform: scale(1.2);
}

.todo {
  width: 50%;
  margin: auto;
}

.fa {
  cursor: pointer;
  margin-left: 10px;
}
.fa:hover {
  transform: scale(1.2);
}

.delete {
  font-size: 30px;
  color: red;
  vertical-align: center;
}

.edit {
  font-size: 30px;
  color: green;
  vertical-align: center;
}
.save {
  font-size: 30px;
  color: blue;
  vertical-align: center;
}

.done {
  font-size: 30px;
  color: darkviolet;
  vertical-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
